/*
 * [ components / accordion ]
 */

// -----------------------------------------------------------------------------

$devices: (
        xl, lg, sm
);

.js-accordion {
    @apply z-0 relative;
}

.js-accordion i {
    @apply transition-fast;
}

.js-accordion-trigger i.Icon-angle-right {
    @apply inline-block transition-fast w-auto;
}

.js-accordion.isActive i.Icon-plus {
    transform: rotate(45deg);
}

.js-accordion.isActive i.Icon-angle-bottom {
    transform: rotate(180deg);
}

.js-accordion.isActive .js-accordion-trigger i.Icon-angle-right {
    transform: rotate(90deg);
}

.js-accordion-target {
    @apply relative transition-fast overflow-hidden opacity-0;
    min-height: 0 !important;

    @each $device in $devices {
        .js-accordion[data-accordion-device="#{$device}-down"] & {
            @screen #{$device} {
                @apply opacity-100;
            }
        }
    }

    .js-accordion.isActive & {
        @apply opacity-100;
    }
}

@each $device in $devices {
    @screen #{$device} {
        [data-accordion-device="#{$device}-down"] .js-accordion-trigger i {
            display: none !important;
        }
    }
}
