/*
 * [ modules / modal ]
 */

// -----------------------------------------------------------------------------


// 1. Vue
// -------------------------------------------------------------------
.Modal-wrapper {
    @apply fixed inset-0 z-fixed;
    background: rgba(0, 0, 0, 0.3);
}

.Modal {
    @apply fixed left-0 right-0 mx-4 py-8 px-4 z-popup;
    background: rgba(255, 255, 255, 1);
    top: 50%;
    transform: translateY(-50%);
    max-height: calc(100vh - theme('spacing.4') * 2);
    overflow-y: auto;

    @screen lg {
        max-height: calc(100vh - theme('spacing.8') * 2);
        @apply p-8 mx-8;
    }
}


// 2. Bis
// -------------------------------------------------------------------
[data-modal-target] {
    @apply fixed inset-0 translateY-100 opacity-0;
    transition: opacity .25s ease;
    background-color: rgba(114, 114, 114, .5);

    &.isActive {
        @apply z-fixed translateY-0 opacity-100;
    }
}

.js-modal-container {
    @apply bg-white invisible absolute absolute-center px-4 sm:px-8 md:px-24 py-10;
    z-index: 1030;
    width: 700px;
    overflow-y: auto;
    min-height: 300px;
    max-height: 90vh;

    @screen md-down {
        @apply w-full h-full top-0 left-0;
        transform: translate(0, 0);
        max-height: 100vh;
    }

    &.isActive {
        @apply visible;
    }
}

.js-modal-close {
    @apply flex flex-row-reverse items-center absolute text-lg;
    top: 10px;
    right: 10px;
}
